resources/local_candyflow.json
[{"id":"ff8030c5.eb741","type":"mqtt in","z":"71dd6add.841c04","name":"","topic":"<topic-name-that-you-defined>","qos":"2","broker":"9f5e93ef.60a17","x":173.23333740234375,"y":142.43333435058594,"wires":[["8044c90d.f1015","8afb74e5.5724a"]]},{"id":"8044c90d.f1015","type":"debug","z":"71dd6add.841c04","name":"","active":true,"console":"false","complete":"false","x":440.2333679199219,"y":142.3000030517578,"wires":[]},{"id":"e9f25e26.4ca5e","type":"serial out","z":"71dd6add.841c04","name":"Arduino via USB","serial":"2f401ba8.cf4224","x":678.2333984375,"y":243.5,"wires":[]},{"id":"8afb74e5.5724a","type":"function","z":"71dd6add.841c04","name":"Parse input","func":"var sentiment = JSON.parse(msg.payload);\n\nmsg.payload = sentiment['text'];\nnode.log('Sending command: ' + JSON.stringify(msg.payload) + \" to Arduino...\");\n\nreturn msg;","outputs":1,"noerr":0,"x":447.2333679199219,"y":243.69998168945312,"wires":[["e9f25e26.4ca5e"]]},{"id":"9f5e93ef.60a17","type":"mqtt-broker","z":"","broker":"realtime.ngi.ibm.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"2f401ba8.cf4224","type":"serial-port","z":"71dd6add.841c04","serialport":"/dev/cu.usbmodem1411","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
